/* table section  */
#table {
    color: darkblue;
    text-align: center;
    font-size: 300%;
}

td,
th {
    border: 1px solid darkmagenta;
    padding: 0 15px;
    text-align: center;


}

table {
    border-collapse: collapse;

}

table.center {
    margin-left: auto;
    margin-right: auto;
}


/* form section  */
#formhead {
    color: darkblue;
    text-align: center;
    font-size: 300%;
}

h5 {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

button:hover {
    color: red;
    background-color: burlywood;

}

button {
    color: black;
    margin-bottom: 2%;


}

/* home-html page style  */

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding: 0px 10px;
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav li:hover {
    background-color: oldlace;

}

#bold {
    color: teal;
    text-align: center;
    font-size: 300%;
}

#detail {
    color: black;
    text-align: justify;
    margin: 3%;
}

#blog {
    color: indigo;
    text-align: center;

}

#details {
    color: black;
    text-align: justify;
    margin: 2%;
}

.padding {
    border: 2px dotted blue;
    padding: 3%;
    margin: 3%;
}

.padding2 {
    border: 2px dotted blue;
    padding: 3%;
    margin: 3%;
}

.padding3 {
    border: 2px dotted blue;
    padding: 3%;
    margin: 3%;
}

.padding4 {
    border: 2px dotted blue;
    padding: 3%;
    margin: 3%;
}

footer {
    text-align: center;
    color: black;
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 2%;
}


/* this is audio-video file section  */
#audio {
    font-size: 20px;
    color: black;
}

#header {
    color: teal;
    text-align: center;
    font-size: 300%;
}

.voice record {
    display: flex;
    align-items: center;
}


/* this is about section  */
#abouthead {
    color: teal;
    text-align: center;
    font-size: 300%;
    padding-top: 0%;
}

#about {
    text-align: center;
    color: black;
    margin: 3%;
}